.picture-block {
    width: 320px;
    background-color: #81b3d2;
    padding: 45px 0;
    text-align: center;
}
.picture-block__title {
	font-size: 18px;
	line-height: 26px;
	color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.picture-block__number,
.picture-block__desc {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.picture-block__image {
    position: relative;
    width:320px;
    height: 390px;
}
.picture-block__picture {
    width: 100%;
}